<nav class="bd-subnavbar navbar-dark bg-dark bg-gradient">
    <div class="container-fluid">
        <a class="navbar-brand text-warning fs-1" href="/lists/">Lists</a>
            </div>
                </nav>